Model: /home/nabin/Organized/Neural_nets/best_model.pth
-------------------------------------------
FGSM (eps=0.01)      | Accuracy: 0.4505
FGSM (eps=0.03)      | Accuracy: 0.4404
FGSM (eps=0.06)      | Accuracy: 0.4379
FGSM (eps=0.08)      | Accuracy: 0.4426
FGSM (eps=0.1)       | Accuracy: 0.4416
PGD (eps=0.01)       | Accuracy: 0.2971
PGD (eps=0.03)       | Accuracy: 0.1865
PGD (eps=0.06)       | Accuracy: 0.1105
PGD (eps=0.08)       | Accuracy: 0.1316
PGD (eps=0.1)        | Accuracy: 0.1247
-------------------------------------------